# ==========
# .GITIGNORE
# ==========
# Created by: datwaft [github.com/datwaft]

# NeoVim undo directory
undodir.vim/
undodir.nvim/

# Temporal files
*.temp

# Old files
*.old
*.old.*

# Neovim files
tags.lock
tags
.netrwhist

# Node files
node_modules/
package-lock.json

# Packer files
plugin/packer_compiled.vim
